@* @model IEnumerable<aspCore.WatchShop.Models.ProductVM>

@{
    ViewData["Title"] = "Discounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Discounts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePromotion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PromotionID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDetailID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeWireID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.showSale)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePromotion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PromotionID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDetailID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeWireID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.showSale)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table> *@
